.visionMission {
  position: relative;
  width: 100%;
  height: 100vh; /* or any height you prefer */
  background: url('../../public/img/visionMissionImg.png') no-repeat center center;
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: white; /* or any color that makes the text readable against the background */
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

.vm {
    margin-bottom: 1rem;
    display: block;
    width: 80vw;
  }

  .vm hr{
    width: 80vw;
  }

  .vm h3 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .vm ul {
    list-style-type: none;
    margin-left: 20px;
  }
  